<% include ../partials/header %>
<div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Edit Book</h1>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/books/<%= book._id %>/?_method=PUT" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="book[title]" value="<%= book.title %>">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="book[author]" value="<%= book.author %>">
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" name="book[image]" value="<%= book.image %>">
                    </div>
                <div class="form-group">
                        <input type="text" class="form-control" name="book[info]" value="<%= book.info %>">
                    </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/books">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %> 

