<% include ../partials/header %>
<div class="container">
    <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="<%= book.image %>" alt="<%= book.name %>">
                <div class="card-body">
                <p>Submitted by <%= book.myUser.username %></p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-4 mb-4">
            <div class="card">
                <div class="card-body">
                <h3 class="card-title"><%= book.title %></h3>
                <hr>
                <p><%= book.author %></p>
                <p class="card-text"><%= book.info %></p>
                <% if(currentUser && book.myUser.id.equals(currentUser._id)){ %>
                    <a href="/books/<%= book._id %>/edit" class="btn btn-info" class ="editButton">Edit</a>
                    <form action="/books/<%= book._id %>?_method=DELETE" method="POST" class="deleteForm">
                        <input type="submit" class="btn btn-danger" value="Delete Book"></input>
                    </form>
                <% } %>
                </div>
            </div>
        </div>
    </div>
    
        
    <div class="card">
        <div class="card-body">
            <div class="text-right">
                <a href="/books/<%= book._id %>/reviews/new"class="btn btn-success" >Add New Review</a>
            </div>
            <div class="row">
            <% book.reviews.forEach((review) => { %>
            <div class="col-md-12 mb-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-left">
                            <p class="card-title"><strong><%= review.myUser.username %></strong></p>
                             <p class="card-text"><%= review.text%></p>
                             <!-- <a href="/books/<%= review._id %>/reviews/show" class="btn btn-primary">Read More</a> -->
                         </div>
                    </div>
                    <% if(currentUser && review.myUser.id.equals(currentUser._id)){ %>
                    <div class="float-right">
                        <a href="/books/<%= book._id %>/reviews/<%= review._id %>/edit" class="btn btn-info btn-sm" >Edit</a>
                        <form class="deleteForm" action="/books/<%= book._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Remove Review</button>
                        </form>
                    </div>
                    <% } %> 
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    </div> 
</div>


        

<% include ../partials/footer %> 
