<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
                <h1>Booksmart </h1>
                <p>View people's opinions on different books</p>
                <p>
                    <a href="/books/new" class="btn btn-primary btn-large">Add New Book</a>
                </p>
        </div>
    </header>

    <div class="row text-center" id="book-grid">
            <% books.forEach(function(book){ %>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                      <img class="card-img-top" src="<%= book.image %>" alt="<%= book.name %>">
                      <div class="card-body">
                        <h5 class="card-title"><%= book.title %></h5>
                        <hr>
                        <p><%= book.author %></p>
                        <a href="/campgrounds/<%= book._id %>" class="btn btn-primary">See Reviews</a>
                      </div>
                    </div>
                </div>
            <% }); %>
        </div>

   


<% include ./partials/footer %>